
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Heading styles */
  .head {
    text-align: center;
    position: relative;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .head::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #ff0037; 
    transition: width 0.3s ease;
  }
  
  .head:hover::after {
    width: 80%; 
  }
  
  .searchContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    width: 300px; 
    padding: 10px;
    border: 2px solid #ff0037;
    border-radius: 20px; 
    font-size: 1rem;
    outline: none;
    transition: width 0.3s ease; 
  }
  

  @media (min-width: 769px) {
    .searchInput:hover,
    .searchInput:focus {
      width: 400px; 
    }
  }
  
  .chartContainer {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .head {
      font-size: 1.5rem;
    }
  
    .searchInput {
      width: 80%; 
    }
  }
  