
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&display=swap');


.main_section {
    position: relative;
    background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0; 
    transform: translateY(-20px); 
    animation: fadeInUp 1s forwards; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero_content h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: #00224D;
}

.hero_content p {
    margin: 2rem 0 2rem 0;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.65;
    position: relative;
}

.hero_content p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 1px;
    background-color: transparent; 
    transition: all 0.3s ease; 
    transform-origin: center; 
    transform: scaleX(0); 
}

.hero_content p:hover::after {
    background-color: #FF204E; 
    transform: scaleX(1); 
}

.hero_image {
    display: flex;
    justify-content: center; 
    align-items: center;
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInRight 1s forwards; 
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero_image img {
    max-width: 100%;
    height: auto;
}


.explorebtn {
    background-color: #d60d25;
    color: white;
    border: none;
    padding: 12px 24px; 
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem; 
    
}

.explorebtn:hover {
    background-color: #ff0037;
}


.custom-shape-divider-bottom-1681647578 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1681647578 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1681647578 .shape-fill {
    fill: #FFFFFF;
}

@media screen and (max-width:768px) {
    .hero_content {
        order: 1;
    }

    .hero_image {
        justify-content: center;
        order: 0;    
        align-items: center;
    }

    .hero_image img {
        width: 40%;
    }

    .explorebtn {
        padding: 10px 20px; 
        font-size: 1.2rem; 
    }

    .hero_content p {
        margin-bottom: 1.5rem; 
    }
    
    .hero_content p::after {
        bottom: -2px; 
    }
}


