.wrapper{
    margin-top: 30px;
}
.heading {
    text-align: center;
    font-size: 3.8rem;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heading::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ff0037;
    transition: width 0.3s ease;
}

.heading:hover::after {
    width: 10%;
}

/* Visit button styles */

.visit {
    background-color: #e6113f;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 1.5rem 3rem;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.visit:hover {
    background-color: #b01033;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Hero section styles */

.hero {
    background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
    background-size: cover;
    padding: 10rem 2rem;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden; 
    margin-left: 10px;
    margin-right: 10px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
    background-color: rgba(56, 5, 5, 0.5); /* Adjust the color and opacity as needed */
}

.hero > * {
    color: white;
    position: relative; 
    z-index: 1;
}
.hero > h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero > article > p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 3.5rem;
}

.hero > article .visits {
    padding: 0.8rem 5rem;
    background-color: #e6113f;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

.hero > article .visits:hover {
    background-color: #b01033;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Breweries section styles */

.breweries {
    padding: 2rem;
}

.breweries > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.breweries > ul > li {
    border-radius: 0.5rem;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.breweries > ul > li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.breweries > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
}

.breweries > ul > li > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.breweries > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
    color: white;
    padding: 0.75rem;
    font-size: 1.25rem;
}

.breweries > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    color: #666666;
}

.breweries > ul > li > a {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}